* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #140316;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: red;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.wrapper {
    text-align: center;
}

.text {
    width: 40rem;
    display: inline-block;  
    padding: 10px;
}

.main-button {
    padding-top: 10px;
}

#start-button {
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    border-radius: 0%;
    border: none;
}

#instructions {
    color: green;
    padding: 10px;
}

#text-to-type {
    text-align: left;
}

#author {
    font-style: italic;
    padding-top: 5px;
}

#input-text {
    width: 40rem;
    height: 20rem;
    resize: none;
    pointer-events: none;
}
